





@media only screen and (max-width: 1200px) { /* 48rem */
    /* phones */

    #nav-bar {
        width: 100%;
        padding: 1rem;

        #top-nav-bar {

            #top-nav-bar1 {
                height: 4rem;

                #mobile-nav-bar {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-around;

                    img {
                        display: block;
                        height: 4.5rem;
                    }

                    .empty {
                        display: block;
                        width: 70%;
                    }


                    i {
                        font-size: 3rem;
                        
                        &:hover {
                            cursor: pointer;
                            color: var(--color-secondary);
                        }
                    }

                    #open {
                        display: block;
                        
                    }

                    #close {
                        display: none;
                    }
                }

                >.empty {
                    display: none;
                }

                #top-nav-menus {
                    display: none;
                }
            }

            #top-nav-bar2 {
                display: none;
                height: 6rem;

                #logo-cont {
                    width: 15%;
                }

                #dropdown-nav-menus {
                    width: 85%;
                }
            }

        }
        
    }

    

    main {
        width: 100%;

        #part1 {
            width: 100%;

            #intro-message {
                
                >p {
                    font-size: 1.25rem;
                }
            }
        }

        #part2 {
            width: 100%;
            
            #homepage-main {

                #about-us {
                    padding: 2rem 0 0.5rem 0;

                    #description {

                        .cont0 {

                            h1 {
                                font-size: 2rem;
                                margin: 0.5rem 0 1rem 0;
                            }

                            h3 {
                                font-size: 1.25rem;
                            }

                            p {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                #about-us-more {
                    padding: 1rem;
                    min-height: 25rem;

                    h1 {
                        font-size: 1.25rem;
                        margin: 1rem 0 1.5rem 0;
                    }

                }
            }
        }
    }


    footer {
        width: 100%;
        padding: 2rem 1rem;
        min-height: 20rem;

        #social-navs {
           flex-direction: column; 
           justify-content: center;
           align-items: center;
           min-height: 3rem;

            #apps {
                flex-direction: column;
                width: 100%;
                
                .download {
                    display: none;
                    border: none;

                    &:hover {
                        cursor: auto;
                        color: var(--light-text)
                    }
                }

                .download.mobile {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    > div {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        i {
                            font-size: 1.8rem;
                        }
                    }
                    
                }
            }

            .empty {
                display: none;
            }

            #socials {
                display: none;
            }

        }

        #info {
            min-height: 8rem;
            margin-top: 3rem;
            flex-direction: column;

            #name {
                margin-bottom: 4rem;
            }

            #details {

                ul {
                    flex-direction: column;
                    text-align: center;
                    row-gap: 5px;

                    li {
                        display: inline;
                        border: none;
                    }
                }
            }


        }
    }
}


@media only screen and (max-width: 740px) { /* 48rem */
    /* tablets and desktop */
    main {

        #part2 {
            
            #homepage-main {

                #about-us-more {

                    #thumbs {
                        display: none;
                    }

                    #thumbs-mobile {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 1rem;

                        > div {
                            width: 21rem;
                            height: 26rem;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 570px) { /* 48rem */
    /* tablets and desktop */
    #nav-bar {
        width: 100%;
        padding: 1rem;

        #top-nav-bar {

            #top-nav-bar1 {
                height: 4rem;

                #mobile-nav-bar {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-around;

                    img {
                        display: block;
                        height: 4.5rem;
                    }

                    .empty {
                        display: block;
                        width: 70%;
                    }

                    i {
                        display: block;
                        font-size: 3rem;
                    }
                }

                >.empty {
                    display: none;
                }

                #top-nav-menus {
                    display: none;
                }
            }

            #top-nav-bar2 {
                display: none;
                height: 6rem;

                #logo-cont {
                    width: 15%;
                }

                #dropdown-nav-menus {
                    width: 85%;
                }
            }

        }
        
    }
}








