* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* delete */
    display: flex;
    align-items: center;
    justify-content: center;
    /* delete */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}


#top-nav-bar {
    min-height: 220px;
    position: sticky;
    top: 0;
    z-index: 5;
}

#top-nav-bar1 {
    min-height: 70px;
    background-color: #323b8c;
    /* background-color: transparent; */
    position: relative;
}

#top-nav-menus {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav-menu-option {
    font-size: 1.2rem;
    color: #a2a6cf;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.top-nav-menu-option i {
    margin-left: 1rem;
}

.top-nav-menu-option i:hover {
    color:#e5003d;
    cursor: pointer;
}

.top-nav-menu-option.socials {
    margin-left: 5rem;
}

.top-nav-menu-option > p:hover {
    cursor: pointer;
    font-style: italic;
    color:#e5003d;
}

#top-nav-bar2 {
    background-color: #323b8c;
    /* background-color: transparent; */
    max-height: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* logo */

#logo-cont {
    max-height: 130px;
    height: 130px;
    width: 10%;
    position: absolute;
    left: 0;
}

#logo {
    max-width: 130px;
    width: 130px;
    height: 95%;
    margin-left: 2rem;
}

#logo > img:hover {
    cursor: pointer;
}

/* nav-menus */
#nav-menus {
    max-height: 45px;
    height: 45px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}

#dropdown {
    color: rgba(255, 255, 255, 0.753);
    font-size: 1.25em;
    width: 200px;
    height: 45px;
    margin: 0 0 0 2rem;
    position: relative;
}

.nav-option {
    background-color: #e5003d;
    color: #323b8c;
    font-size: 1.2em;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option:hover {
    background-color: #e5003d;
    color: black;
    cursor: pointer;
}

.nav-more-options {
    padding: 1rem 0 0 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 1;
    width: 250px;
}

#dropdown:hover .nav-more-options{
    display: block;
}

.nav-more-option {
    margin: 0;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    background-color: #323b8c;
}

.nav-more-option p {
    margin-left: 1rem;
}

.nav-more-option:hover {
    cursor: pointer;
    background-color: #e5003d;
    color: black;
}


/* Main Area */

#main-area {
    /* background-color: green; */
    width: 100%;
    min-height: 100%;
    position: relative;
}




