

/********************************* TOP NAV BAR  *********************************/

// delete

html {
	height: 400vh;
	padding: 10px;
	display: flex;
	justify-content: center;
}

body {
	height: 200vh;
	position: relative;
	display: block;
	border: 1px solid red;
}


/*

#top-nav-bar1 {
	height > 2rem
}

#top-nav-bar2 {
	#logo {
		img > 60% 60%
	}
	#dropdown-nav-menu {
		height > 2rem
	}
}

*/

// delete

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 4;
	width: 75rem;
	padding: 1rem;
	background-color: var(--color-primary);
	border-left: 0.5px solid var(--shadow-line-b);
	border-right: 0.5px solid var(--shadow-line-b);
	border-bottom: 0.5px solid var(--shadow-line-w);

	#top-nav-bar {
		position: sticky;
		top: 0;
		right: 0;

		// top-nav-bar1
		#top-nav-bar1 {
			width: 100%;
			height: 4rem;
			display: flex;
			color: var(--light-text);

			#mobile-nav-bar {
				display: none;

				* {
					display: none;
				}
			}

			>.empty {
				width: 20%;
				height: 4rem;
			}

			#top-nav-menus {
				width: 80%;
				display: flex;
				justify-content: space-between;

				.top-nav-menu-option {
					font-size: 0.85rem;
					padding: 0 0.5rem;

					>p {
						&:hover {
							cursor: pointer;
							color: var(--color-secondary);
						}
					}
				}

				.top-nav-menu-option.socials {
					flex: 0 1 200px;
					max-width: 250px;
					display: flex;
					justify-content: space-around;
					align-items: center;
					font-size: 1.25rem;

					>i {
						&:hover {
							color: var(--color-secondary);
							cursor: pointer;
						}
					}
				}
			}

		}

		// top-nav-bar2
		#top-nav-bar2 {
			width: 100%;
			height: 10rem;
			display: flex;

			// logo
			#logo-cont {
				width: 9rem;
				margin-right: 2rem;
			}

			// dropdown
			#dropdown-nav-menus {
				width: 65rem;
				justify-content: space-around;

				.dropdown-nav-menu {
					height: 3rem;
					position: relative;
					display: flex;
					width: 9rem;
					padding: 0;

					&:hover {
						cursor: pointer;

						.nav-more-options {
							display: block;
						}

						.nav-option {
							color: black;
						}
					}

					.nav-option {
						color: var(--color-secondary);
						border-bottom: 1px solid var(--light-text);
						font-size: 1.1rem;
						width: 100%;
						height: 100%;
						justify-content: flex-start;
						padding-left: 5px;
					}

					.nav-more-options {
						padding: 5rem 0 0 0;
						left: 0;
						display: none;
						position: absolute;
						width: 14rem;
						z-index: 1;

						.nav-more-option {
							width: 100%;
							min-height: 3rem;
							max-height: fit-content;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							font-size: 1.1rem;
							background-color: var(--color-primary);
							padding-left: 0.5rem;
							color: var(--light-text);
							
							>p {
								padding: 4px;
							}

							&:hover {
								cursor: pointer;
								background-color: var(--color-secondary);
								color: black;
							}
						}
					}


				}
			}
		}
	}
}
	
